<!DOCTYPE html>
<html>
<head>
    <title>Lectura de Archivo de Texto</title>
    <style>
        /* Estilo para el div de contenido */
        #contenido {
            
            width: 280px;
            height: 200px;
            border: 1px solid #00ff00;
            overflow-y: auto; /* Habilitar el scroll vertical */
        }
        
    </style>
</head>
<body>
    <div id="contenido">
        <ul>
            <li><a href="#inicio">Alfajores</a></li>
            <li><a href="#productos">Productos</a></li>
            <li><a href="#nosotros">Nosotros</a></li>
            <li><a href="#contacto">Contacto</a></li>
            <li><a href="#seccion5">Sección 5</a></li>
            <li><a href="#inicio">Alfajores</a></li>
            <li><a href="#productos">Productos</a></li>
            <li><a href="#nosotros">Nosotros</a></li>
            <li><a href="#contacto">Contacto</a></li>
            <li><a href="#seccion5">Sección 5</a></li>
            <li><a href="#inicio">Alfajores</a></li>
            <li><a href="#productos">Productos</a></li>
            <li><a href="#nosotros">Nosotros</a></li>
            <li><a href="#contacto">Contacto</a></li>
            <li><a href="#seccion5">Sección 5</a></li>
            <li><a href="#inicio">Alfajores</a></li>
            <li><a href="#productos">Productos</a></li>
            <li><a href="#nosotros">Nosotros</a></li>
            <li><a href="#contacto">Contacto</a></li>
            <li><a href="#seccion5">Sección 5</a></li>
            <li><a href="#inicio">Alfajores</a></li>
            <li><a href="#productos">Productos</a></li>
            <li><a href="#nosotros">Nosotros</a></li>
            <li><a href="#contacto">Contacto</a></li>
            <li><a href="#seccion5">Sección 5</a></li>
            <li><a href="#inicio">Alfajores</a></li>
            <li><a href="#productos">Productos</a></li>
            <li><a href="#nosotros">Nosotros</a></li>
            <li><a href="#contacto">Contacto</a></li>
            <li><a href="#seccion5">Sección 5</a></li>
        </ul>
    </div>
</body>
</html>

