<div id="temperaturas">
  <h2>Temperaturas</h2>
  <div class="heladera">
    <h3>Heladera 1</h3>
    <p>Temperatura: <span id="heladera1">0°C</span></p>
  </div>
  <div class="heladera">
    <h3>Heladera 2</h3>
    <p>Temperatura: <span id="heladera2">0°C</span></p>
  </div>
  <div class="heladera">
    <h3>Heladera 3</h3>
    <p>Temperatura: <span id="heladera3">0°C</span></p>
  </div>
  <div class="heladera">
    <h3>Heladera 4</h3>
    <p>Temperatura: <span id="heladera4">0°C</span></p>
  </div>
  <div class="freezer">
    <h3>Freezer 1</h3>
    <p>Temperatura: <span id="freezer1">0°C</span></p>
  </div>
  <div class="freezer">
    <h3>Freezer 2</h3>
    <p>Temperatura: <span id="freezer2">0°C</span></p>
  </div>
  <div class="freezer">
    <h3>Freezer 3</h3>
    <p>Temperatura: <span id="freezer3">0°C</span></p>
  </div>
</div>